@import url("https://fonts.googleapis.com/css2?family=Poppins:display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

 
.container nav {
  width: 100%;
}

.container nav .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.container nav .content .logo {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.container nav .content .logo h2 {
  font-weight: 900;
}

.container nav .content .menulist {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: right;
}

.container nav .content .menulist ul li {
  list-style-type: none;
  float: left;
}

.container nav .content .menulist ul li a {
  font-size: 13px;
  font-weight: 700;
  margin: 10px;

  border-radius: 25px;
  color: gray;
  text-decoration: none;

  background-color: white;
  border: 2px solid gray;
  padding: 6px 14px;
}

.container nav .content .menulist ul li a:hover {
  padding: 8px 16px;
  background-color: whitesmoke;
  border: none;
}

.container nav .content .menulist ul li a i {
  margin: 0px 7px;
  color: gray;
  font-size: 15px;
}

.container .homepage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .homepage .content {
  width: 100%;
  height: 500px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: orange;
  flex-wrap: wrap;
  background-image: url("data:image/svg+xml,%3Csvg width='1000' height='500' viewBox='0 0 1000 500' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1000' height='500' fill='white'/%3E%3Ccircle cx='624' cy='162' r='50' fill='%23FFA800'/%3E%3Cpath d='M582.586 309.718C577.844 303.949 579.472 294.775 586.221 289.228C592.971 283.68 602.287 283.861 607.028 289.63C611.77 295.4 620.418 294.903 613.668 300.45C606.919 305.998 587.327 315.488 582.586 309.718Z' fill='url(%23paint0_linear_56_11)'/%3E%3Cpath d='M651.221 340.702C651.145 348.169 644.001 354.151 635.265 354.062C626.529 353.972 619.509 347.847 619.585 340.379C619.661 332.911 612.717 327.733 621.453 327.822C630.189 327.911 651.298 333.234 651.221 340.702Z' fill='url(%23paint1_linear_56_11)'/%3E%3Cellipse cx='761.795' cy='250' rx='145' ry='146.5' fill='%23FFC700'/%3E%3Ccircle cx='887' cy='256.277' r='75' fill='%23B34D03'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_56_11' x1='604.34' y1='291.84' x2='580.775' y2='307.385' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFA800'/%3E%3Cstop offset='1' stop-color='%23B34D03'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_56_11' x1='623.065' y1='340.415' x2='651.108' y2='343.653' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFA800'/%3E%3Cstop offset='1' stop-color='%23B34D03'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  /* border-radius: 10px; */
  /* border: 2px solid black; */
  /* margin: 10px 0px; */
}

.container .homepage .content .info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.container .homepage .content .info h1 {
  font-size: 60px;
  font-weight: 800;
}

.container .homepage .content .info .head p {
  color: gray;
}

.container .homepage .content .info .quote {
  width: 300px;
  /* border: 2px solid black; */
  color: black;
  border-radius: 5px;
  margin: 25px 0px;
}

.container .homepage .content .info #button {
  width: 150px;
  height: 40px;
  background-color: rgb(255, 166, 0);
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 7px;
  margin: 20px 0px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container .homepage .content .info #button:hover {
  background-color: rgb(209, 138, 5);
}

.container .homepage .content .info .social-media li {
  float: left;
  list-style-type: none;
}

.container .homepage .content .info .social-media i {
  font-size: 18px;
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .homepage .content .photo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .homepage .content .photo img {
  border-radius: 50%;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

  /* padding: 5px ; */
  /* border: 3px solid black; */
}

.container .about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .about .content {
  width: 85%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../images/About\ me-cuate.png"); */
  /* background-size: 50% 100%; */
  /* background-repeat: no-repeat; */
  background-image: url("data:image/svg+xml,%3Csvg width='1000' height='500' viewBox='0 0 1000 500' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1000' height='500' fill='white'/%3E%3Cpath d='M316.795 227.75C316.795 305.947 254.067 369.25 176.795 369.25C99.5239 369.25 36.7954 305.947 36.7954 227.75C36.7954 149.553 99.5239 86.25 176.795 86.25C254.067 86.25 316.795 149.553 316.795 227.75Z' stroke='%23FFC700' stroke-width='10'/%3E%3Cellipse cx='256.398' cy='317.5' rx='104.602' ry='101.25' fill='%23FFA800'/%3E%3C/svg%3E%0A");
}

.container .about .content .headings {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.container .about .content .headings h1 {
  /* font-family: sans-serif; */
  color: black;
  font-weight: 600;
}

.container .about .content .headings p {
  color: gray;
}

.container .about .content .about-info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.container .about .content .about-info button {
  width: 150px;
  height: 45px;
  background-color: orange;
  border: 2px solid orange;
  color: black;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.container .about .content .about-info button:hover {
  background-color: rgb(197, 129, 3);
}

.container .skills {
  width: 100%;
  height: 562px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/skill\ 3.png');
}

.container .skills .content {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .skills .content .headings {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  text-align: right;
}

.container .skills .content .headings h1 {
  /* font-family: sans-serif; */
  color: white;
  font-weight: 600;
  padding: 5px 30px;
}

.container .skills .content .headings p {
  color: white;
}

.container .skills .content .skills-info {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
}

.container .skills .content .skills-info .item {
  background-color: whitesmoke;
  padding: 6px 16px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container .skills .content .skills-info .item .color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container .skills .content .skills-info .item:nth-of-type(1) .color {
  background-color: orangered;
  color: orangered;
}

.container .skills .content .skills-info .item:nth-of-type(2) .color {
  background-color: blue;
}

.container .skills .content .skills-info .item:nth-of-type(3) .color {
  background-color: yellow;
}

.container .skills .content .skills-info .item:nth-of-type(4) .color {
  background-color: rgb(70, 247, 0);
}

.container .skills .content .skills-info .item:nth-of-type(5) .color {
  background-color: cyan;
}

.container .skills .content .skills-info .item:nth-of-type(6) .color {
  background-color: lightskyblue;
}

.container .skills .content .skills-info .item:nth-of-type(7) .color {
  background-color: blueviolet;
}

.container .skills .content .skills-info .item:nth-of-type(8) .color {
  background-color: olivedrab;
}

.container .skills .content .skills-info .item:nth-of-type(9) .color {
  background-color: red;
}

.container .projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .projects .content {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .projects .content .headings {
  text-align: center;
}

.container .projects .content .headings h1 {
  /* font-family: sans-serif; */
  color: black;
  font-weight: 600;
}

.container .projects .content .headings p {
  color: gray;
}

.container .projects .content .projects-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .projects .content .projects-info .box {
  border-radius: 10px;
  margin: 20px;
  width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 8px;
}

.container .projects .content .projects-info img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .projects .content .projects-info .box h3 {
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 700;
}

.container .illustrations {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .illustrations .content {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .illustrations .content .headings {
  text-align: center;
}

.container .illustrations .content .headings h1 {
  /* font-family: sans-serif; */
  color: black;
  font-weight: 600;
}

.container .illustrations .content .headings p {
  color: gray;
}

.container .illustrations .content .illustrations-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .illustrations .content .illustrations-info .pictures {
  width: 50%;
}

.container .illustrations .content .illustrations-info .pictures img {
  width: 200px;
  height: 120px;
  border-radius: 5px;
  margin: 10px;
}

.container .illustrations .content .illustrations-info .info {
  width: 50%;
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}

.container .illustrations .content .illustrations-info .info p {
  width: 200px;
  color: gray;
}

.container .footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .footer .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.container .footer .content .first-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
